body {
  padding-bottom: 30px;
  padding-top: 70px;
}
.knob-slider {
  display: inline-block;
  text-align: center;
}
.knob-slider > div {
  display: inline-block !important;
}
.knob-slider input {
  outline: none !important;
}
.knob-clock {
  text-align: center;
}
.knob-clock > div {
  font-size:50px;
  text-align: center;
  color:#a2a2a2;
}
.knob {
  border:0;
  background: 0;
}
.server-status.status-wait > .status-request, .server-status > .status-error {
  display: none;
}
.server-status.status-request > .status-request {
  display: inline-block;
}
.server-status.status-status > .status-error {
  display: inline-block;
}
.container.theme-showcase {
  /*margin-top: 55px;*/
  width: 100%;
}
.server-block td {
  padding: 0;
  white-space: nowrap;
}
table.table > thead > tr > th, table.table > tbody > tr > td {
  padding: 1px 3px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}
nav.navbar.navbar-inverse.navbar-fixed-top {
  margin-bottom: 3px;
}
.container.theme-showcase .panel-heading {
  padding: 3px 10px;
}
table.server-block {
  width: 100%;
}
.status-light {
  background: #cccccc none repeat scroll 0 0;
  border-radius: 0.3em;
  color: white;
  font-size: 0.8em;
  margin-left: 0.3em;
  padding: 0.15em 0.5em;
  text-shadow: -1px -1px #bbbbbb;
  transition: 0.1s all;
}
.server-comm .status-light.connect{
  background-color: limegreen;
}
.server-comm-fail .status-light.warning{
  background-color: red;
}
table.server-block td {
  border-right: 1px solid #ddd;
}
table.server-block td:last-child {
  border-right: none;
}
tr.labels > td {
  text-align: center;
  font-size: 0.8em;
  background: #eee;
  color: #aaa;
  padding: 0;
  line-height: 0.98em;
  border-top: 1px solid #ddd;
}
div.panel {
  margin-bottom: 1em;
}
.project-table .col .fa {
  font-size: 1.4em;
  vertical-align: middle;
  margin: 0 0.3em;
}
.project-table{
  transition: all 1s ease 0s;
}
.btn {
  margin: 0 2px;
  min-width: 4em;
}
table.project-table .ccs-running .cmd-start, 
table.project-table .ccs-unk .cmd-stop,
table.project-table .ccs-stopped .cmd-stop,
table.project-table .ccs-stopping .cmd-stop,
table.project-table .caa-building .cmd-force
 {
  display: none;
}

table.project-table td .cmd-abort{
  display:none;
}

table.project-table .caa-building .cmd-abort{
  display:inline-block;
}
td.col {
  color: #aaa;
}
/*Gray*/
.project-table .bs-unk .col {
  color:  #aaa;
}
/*Red*/
.project-table .bs-fail .col {
  color: red;
  background-color: rgba(255,0,0,0.05);
}
/*Green*/
.project-table .bs-success.ccs-running .col,
.project-table .bs-success.ccs-stopping .col.col-activity
{
  color: #00aa00;
  background-color: rgba(0,255,0,0.05);
}
.panel .project-table tbody tr .col.col-row-state {
  background-color: transparent;
  color: transparent;
  text-align: right;
}
.panel .project-table tbody tr.row-update .col.col-row-state {
  color: rgba(255,255,255,0.7);
}
body.blink table.project-table tr.caa-building td.col-activity {
  color: white;
}
th.header {
    cursor: pointer;
}
body.theme-dark {
  background: url('bg.png') #444 !important;
}
body.theme-dark .panel-default > .panel-heading {
  background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.8) 0px, rgba(0, 0, 0, 0.7) 100%);
  background-repeat: repeat-x;
  color: #aaa;
}
body.theme-dark .panel.panel-default {
  background-color: rgba(0,0,0,0.2);
}
body.theme-dark th {
  color: rgba(200,200,200,0.5);
}
body.theme-dark .panel.panel-default, table.server-block td {
  border-color: rgba(200,200,200,0.3);
}
body.theme-dark .table-bordered > tbody > tr > td, 
body.theme-dark .table-bordered > tbody > tr > th, 
body.theme-dark .table-bordered > tfoot > tr > td, 
body.theme-dark .table-bordered > tfoot > tr > th, 
body.theme-dark .table-bordered > thead > tr > td, 
body.theme-dark .table-bordered > thead > tr > th {
  border-color: rgba(255,255,255,0.15);
}
body.theme-dark .panel .panel-heading {
  border-color: rgba(0,0,0,0.6);
}
body.theme-dark.blink table.project-table tr.caa-building td.col-activity {
  color: rgba(0,0,0,0.2);
}
body.theme-dark .status-light {
  background: #333;
  text-shadow: -0.4px -0.4px #000;
  color: #777;
}
body.theme-dark .label {
  color: #777;
}
body.theme-dark tr.labels > td {
  background: rgba(255,255,255,0.15);
}
body.theme-dark td.col {
  color: rgba(200, 200, 200, 0.3);
}
.col-buttons {
  white-space: nowrap;
  width: 1%;
}
body .row {
  margin: 0;
}
.status-light > .label {
  font-size: 1.2em;
}
.status-light .value {
  margin: 0 0 0 0.3em;
}
.projects.row > .col-md-12 {
  padding: 0 !important;
}
.cpu-warining .server-block td.label-cpu {
  background: red none repeat scroll 0 0;
}
.cpu-memory .server-block td.label-memory {
  background: red none repeat scroll 0 0;
}
.cpu-disk .server-block td.label-disk {
  background: red none repeat scroll 0 0;
}
.ccs-unk .cmd-force,.ccs-stopped .cmd-force {
  display: none;
}

.show-success tbody tr,
.show-fail tbody tr,
.show-building tbody tr,
.show-running tbody tr{
  visibility:collapse;
  display:none;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.show-success tbody tr.bs-success,
.show-fail tbody tr.bs-fail,
.show-building tbody tr.caa-building,
.show-running tbody tr.ccs-running{
  visibility:visible;
  display:table-row;
  opacity: 1;
}
.show-success .status-light.total,
.show-fail .status-light.total,
.show-running .status-light.total,
.show-building .status-light.total{
  border: none;
}
.status-light.total,
.show-success .status-light.success,
.show-fail .status-light.fail,
.show-building .status-light.building,
.show-running .status-light.running 
{
  border: 2px solid rgba(0, 255, 0, 0.3);
}
.clickable{
  cursor:pointer;
}
