<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <meta charset="utf-8">
        <title>CC.NET Broker</title>
        <meta name="description" content="description">
        <meta name="author" content="vitska">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="st/css/dash.css">
        <link rel="stylesheet" href="st/css/main.css">
        <link rel="stylesheet" href="st/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="st/css/bootstrap-theme.min.css">
		<link href="st/css/jquery-ui.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
<body class="theme-dark">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CC.NET Dashboard</a>
      </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#">Refresh <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">2 sec.</a></li>
                                <li><a href="#">5 sec.</a></li>
                                <li><a href="#">10 sec.</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
  </nav>
  <div role="main" class="container theme-showcase">
    <div class="row">
      <div class="col-md-4 servers-panel"></div>
      <div class="col-md-8">
        <div class="projects row">
          <div class="col-md-12">
            <div class="panel panel-default" />
          </div>
        </div>
      </div>
    </div>
  </div>
    <script src="st/js/jquery-2.2.4.min.js"></script>
    <script src="st/js/jquery-ui.min.js"></script>
    <script src="st/js/bootstrap.min.js"></script>
    <script src="st/jQuery-Knob/jquery.knob.min.js"></script>
    <script src="st/js/moment.min.js"></script>
    <script src="st/js/moment-duration-format.js"></script>
    <script src="st/js/chartist.mod.js"></script>
    <script src="st/js/func.js"></script>
    <script src="st/js/jquery.tablesorter.js"></script>
    <script src="st/js/ServerGroup.js"></script>
    <script src="st/js/Server.js"></script>
    <script src="st/js/ProjectList.js"></script>
<script>
  var project_list = new ProjectList($('.projects .panel'))
  var groups = [
    new ServerGroup({
      url: 'config', 
      panel: $('.servers-panel'),
      list: project_list,
      refresh: 5000
    })
  ]

  $(document).ready(function () {
    groups.forEach(function(g){g.init()});
    $('body').on('click','.cmd-btn',function(e){
      var $t = $(e.target);
      var cmd = $t.attr('item-cmd');
      var pdata = $(this).closest('tr').data('proj')
      $.ajax( {type:'POST', url:"ctrl/"+cmd+"/"+pdata.prjid} )
    })
  })
  setInterval(function(){$('body').toggleClass('blink')},500);
</script>
</body>
</html>